<nav>
    <ul class="flex justify-around bg-blue-500 text-white py-3">
      <li><a href="/" class="hover:text-gray-300">Inicio</a></li>
      <li><a href="/countries" class="hover:text-gray-300">Lista de Paises</a></li>
      <li><a href="/countries/agregar" class="hover:text-gray-300">Agregar SuperHéroe</a></li>
    </ul>
  </nav>